p {color: #A9A9A9;}

div {
    background-color: #171515;
}

a {
    text-decoration: none; 
    color:#A9A9A9; 
    font-size: 1em;
}

h1 {
    color: #A9A9A9;
}

h2 {
    color: #B67721;
}

form {
    border:thin solid #21B6A8;
    width:50%;
    margin:0 auto;
}

.flashes {
    color: #00FFFF;
}
    
#file {
    color: #A9A9A9;
}

#calendar {
    width:817px;
    height:800px;
    padding:0 10px;
    margin:0 auto;
    position:relative;
    overflow-y:scroll;
}

#calendarContent {
    font-family:arial;
    font-weight:bold;
    font-size:16px;
}

#calendarContent a {
    color:#FFFFFF;
}

#timeSidebar {
    height:1000px;
    margin-right:10px;
    font-family:arial;
    margin-top:-3px;
}

#timeSidebar .timeSlot {
    color:#00FFFF;
    font-weight:bold;
    height:40px;
    text-align:left;
    border-top:thin solid #000000;
}

#timeSidebar .timeSlot span {
    color:#909090;
    font-size:12px;
}
