{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}
<div id="calendar">
    <div id="timeSidebar">
        <div class="timeSlot">9:00 <span>AM</span></div>
         <div class="timeSlot"><span>9:30</span></div>
         <div class="timeSlot">10:00 <span>AM</span></div>
         <div class="timeSlot"><span>10:30</span></div>
         <div class="timeSlot">11:00 <span>AM</span></div>
         <div class="timeSlot"><span>11:30</span></div>
         <div class="timeSlot">12:00 <span>PM</span></div>
         <div class="timeSlot"><span>12:30</span></div>
         <div class="timeSlot">1:00 <span>PM</span></div>
         <div class="timeSlot"><span>1:30</span></div>
         <div class="timeSlot">2:00 <span>PM</span></div>
         <div class="timeSlot"><span>2:30</span></div>
         <div class="timeSlot">3:00 <span>PM</span></div>
         <div class="timeSlot"><span>3:30</span></div>
         <div class="timeSlot">4:00 <span>PM</span></div>
         <div class="timeSlot"><span>4:30</span></div>
         <div class="timeSlot">5:00 <span>PM</span></div>
         <div class="timeSlot"><span>5:30</span></div>
         <div class="timeSlot">6:00 <span>PM</span></div>
         <div class="timeSlot"><span>6:30</span></div>
         <div class="timeSlot">7:00 <span>PM</span></div>
         <div class="timeSlot"><span>7:30</span></div>
         <div class="timeSlot">8:00 <span>PM</span></div>
         <div class="timeSlot"><span>8:30</span></div>
         <div class="timeSlot">9:00 <span>PM</span></div>
    </div>
    <div id="calendarContent"></div>
</div>

<script>
    var calendar = function() {
        
        // Converts a timestamp string to the pixel position on the calendar
        // that the timestamp corresponds to.
        var timeStringToPixels =  function(timeStr) {
            // Our calendar starts at 9 AM
            var startHourToSeconds = 9 * 60 * 60;
            // Our calendar has half hour delimiters
            var secondsPerHalfHour = 1800;
            var pixelsPerHalfHour = 40;
            
            var numArr = timeStr.split(":");
            var toSeconds = parseInt(numArr[0]) * 60 * 60 + parseInt(numArr[1]) * 60 + parseInt(numArr[2]);
            return ((toSeconds - startHourToSeconds) / secondsPerHalfHour) * pixelsPerHalfHour;
        };
        
        var segmentIndexSortCompare = function (a, b) {
            if (a.index > b.index) {
                return 1;
            } if (a.index < b.index) {
                return -1;
            } 
            
            return 0;
        };
        
        var getOverlapContainers = function(events) {
            var eventsL = events.length;
            var segments = [];
            
            for (var i = 0; i < eventsL; ++i) {
                segments.push({index: i, val: timeStringToPixels(events[i].startTime), delim: "l"});
                segments.push({index: i, val: timeStringToPixels(events[i].endTime), delim: "r"});
            }
            
            // Sort by val asc, then delimiter asc (left before right)
            segments.sort(function (a, b) {
                if (a.val > b.val) {
                    return 1;
                } if (a.val < b.val) {
                    return -1;
                } if (a.delim > b.delim) {
                    return 1;
                } if (a.delim < b.delim) {
                    return -1;
                } 
                
                return 0;
            });
            
            var starts = [];
            var ends = [];
            var containers = [];
            for (var segment of segments) {
                if (segment.delim == "l") {
                    starts.push(segment);
                } else if (segment.delim == "r") {
                    ends.push(segment);
                }
                
                // We must have a complete set of overlapping intervals
                // when all starts currently in consideration have been closed.
                // The next new interval cannot overlap with any of the previous intervals.
                if (starts.length == ends.length) {
                    starts.sort(segmentIndexSortCompare);
                    ends.sort(segmentIndexSortCompare);
                    
                    containers[0] = [];
                    containers[0].push(ends[0]);
                    events[ends[0].index].containerIdx = 0;
                    for (var i = 1; i < starts.length; ++i) {
                        // Place each event in the minimum possible container
                        for (var j = 0; j < containers.length; ++j) {
                            if (containers[j][containers[j].length - 1].val < starts[i].val) {
                                // There is space in this container to place the event
                                containers[j].push(ends[i]);
                                events[starts[i].index].containerIdx = j;
                                break;
                            } else if (typeof containers[j + 1] !== "object") {
                                // Create a new container to store the event
                                containers[j + 1] = [];
                                containers[j + 1].push(ends[i]);
                                events[starts[i].index].containerIdx = j + 1;
                                break;
                            } 
                        }
                    }
                    
                    // Sets the number of containers for each event within the
                    // current overlapping interval set.
                    for (var i = 0; i < containers.length; ++i) {
                        for (var j = 0; j < containers[i].length; ++j) {
                            events[containers[i][j].index].containers = containers.length;
                        }
                    }

                    containers = [];
                    starts = [];
                    ends = [];
                }
            }

            return events;
        };
        
        var renderCalendar = function(rawEvents) {
            var events = getOverlapContainers(rawEvents);
            
            var eventsL = events.length;
            for (var i = 0; i < eventsL; ++i) {
                // Calendar event positioning
                var startPx = timeStringToPixels(events[i].startTime);
                var endPx = timeStringToPixels(events[i].endTime);
                
                var contentWidth = 675;
                var topOffset = -2;
                var leftOffset = 100;
                
                var div = document.createElement("div");
                div.style.width = (contentWidth / (events[i].containers)) + "px";
                div.style.height = (endPx - startPx) + "px";
                div.style.top = (startPx + topOffset) + "px";
                div.style.left = ((contentWidth / (events[i].containers)) * (events[i].containerIdx) + leftOffset) + "px";
                div.style.position = "absolute";
                
                // Calendar event styling
                switch(events[i].type) {
                    case "performance":
                        div.style.background = "#21B6A8";
                        break;
                    case "panel":
                        div.style.background = "#177F75";
                        break;
                    case "speaker":
                        div.style.background = "#B6212D";
                        break;
                    case "party":
                        div.style.background = "#7F171F";
                        break;
                    case "workshop":
                        div.style.background = "#B67721";
                        break;
                    case "demo":
                        div.style.background = "#7F5417";
                        break;
                    default:
                        div.style.background = "#B9B9B9";
                        break;
                }
                
                var title = document.createTextNode(events[i].title);
                
                // Calendar event link to JSON endpoint entry
                var a = document.createElement("a");
                a.appendChild(title);
                a.href = "/event/" + parseInt(events[i].id) + "/JSON/";
                div.appendChild(a);
                
                document.getElementById("calendarContent").appendChild(div);
            }
        };
        
        return {
            renderCalendar: renderCalendar
        };
    }();
    
    // Pass in event objects from backend
    var events = [];
    '{% for e in events %}'
        var event = {};
        event.id = '{{e.id}}';
        event.startTime = '{{e.startTime}}';
        event.endTime = '{{e.endTime}}';
        event.title = '{{e.title}}';
        event.description = '{{e.description}}';
        event.address = '{{e.address}}';
        event.type = '{{e.type.name}}';
        events.push(event);
    '{% endfor %}'
    
    calendar.renderCalendar(events);
</script>

{% endblock %}
