{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}
<div id="calendar">
    <div id="timeSidebar">
        <div class="timeSlot">9:00 <span>AM</span></div>
         <div class="timeSlot"><span>9:30</span></div>
         <div class="timeSlot">10:00 <span>AM</span></div>
         <div class="timeSlot"><span>10:30</span></div>
         <div class="timeSlot">11:00 <span>AM</span></div>
         <div class="timeSlot"><span>11:30</span></div>
         <div class="timeSlot">12:00 <span>PM</span></div>
         <div class="timeSlot"><span>12:30</span></div>
         <div class="timeSlot">1:00 <span>PM</span></div>
         <div class="timeSlot"><span>1:30</span></div>
         <div class="timeSlot">2:00 <span>PM</span></div>
         <div class="timeSlot"><span>2:30</span></div>
         <div class="timeSlot">3:00 <span>PM</span></div>
         <div class="timeSlot"><span>3:30</span></div>
         <div class="timeSlot">4:00 <span>PM</span></div>
         <div class="timeSlot"><span>4:30</span></div>
         <div class="timeSlot">5:00 <span>PM</span></div>
         <div class="timeSlot"><span>5:30</span></div>
         <div class="timeSlot">6:00 <span>PM</span></div>
         <div class="timeSlot"><span>6:30</span></div>
         <div class="timeSlot">7:00 <span>PM</span></div>
         <div class="timeSlot"><span>7:30</span></div>
         <div class="timeSlot">8:00 <span>PM</span></div>
         <div class="timeSlot"><span>8:30</span></div>
         <div class="timeSlot">9:00 <span>PM</span></div>
    </div>
    <div id="content"></div>
</div>

<script>
    var calendar = function() {
        
        var timeStringToPixels =  function(timeStr) {
            var startHourToSeconds = 9 * 60 * 60;
            var secondsPerHalfHour = 1800;
            var pixelsPerHalfHour = 40;
            
            var numArr = timeStr.split(":");
            var toSeconds = parseInt(numArr[0]) * 60 * 60 + parseInt(numArr[1]) * 60 + parseInt(numArr[2]);
            return ((toSeconds - startHourToSeconds) / secondsPerHalfHour) * pixelsPerHalfHour;
        };
        
        var getOverlapContainers = function(events) {
            var eventsL = events.length;
            var segments = [];
            
            for (i = 0; i < eventsL; ++i) {
                segments.push({index: i, val: timeStringToPixels(events[i].startTime), delim: "l"});
                segments.push({index: i, val: timeStringToPixels(events[i].endTime), delim: "r"});
            }
            
            segments.sort(function (a, b) {
                if (a.val > b.val) {
                    return 1;
                } if (a.val < b.val) {
                    return -1;
                } if (a.delim > b.delim) {
                    return 1;
                } if (a.delim < b.delim) {
                    return -1;
                } 
                
                return 0;
            });
            
            var overlaps = [];
            var containerIdx = 0;

            for (segment of segments) {
                if (segment.delim == "l") {
                    overlaps.push(segment);
                } else if (segment.delim == "r") {
                    // Number of containers to divvy up current considered events
                    var containers = overlaps.length;
                    for (segment of overlaps) {
                        if (events[segment.index].containers > containers) {
                          containers = events[segment.index].containers;
                        }
                    }
                    for (segment of overlaps) {
                        if (!events[segment.index].containers) {
                            events[segment.index].containers = containers;
                            events[segment.index].containerIdx = containerIdx++ % containers + 1;
                        }
                    }
                    
                    overlaps.pop();
                }
            }
            console.log(segments);
            console.log(events)
            return events;
        };
        
        var renderCalendar = function(rawEvents) {
            var events = getOverlapContainers(rawEvents);
            
            var eventsL = events.length;
            for (var i = 0; i < eventsL; ++i) {
                var startPx = timeStringToPixels(events[i].startTime);
                var endPx = timeStringToPixels(events[i].endTime);
               
                var div = document.createElement("div");
                div.style.width = (675 / (events[i].containers)) + "px";
                div.style.height = (endPx - startPx) + "px";
                div.style.top = (startPx - 2) + "px";
                div.style.left = (((675 / (events[i].containers)) * (events[i].containerIdx - 1)) + 100) + "px";
                div.style.position = "absolute";
                
                switch(events[i].type) {
                    case 'performance':
                        div.style.background = "#21B6A8";
                        break;
                    case 'panel':
                        div.style.background = "#177F75";
                        break;
                    case 'speaker':
                        div.style.background = "#B6212D";
                        break;
                    case 'party':
                        div.style.background = "#7F171F";
                        break;
                    case 'workshop':
                        div.style.background = "#B67721";
                        break;
                    case 'demo':
                        div.style.background = "#7F5417";
                        break;
                    default:
                        div.style.background = "#B9B9B9";
                        break;
                }
                
                var title = document.createTextNode(events[i].title);
                var a = document.createElement('a');
                a.appendChild(title);
                a.href = "/event/" + parseInt(events[i].id) + "/JSON/";
                div.appendChild(a);
                document.getElementById("content").appendChild(div);
            }
        };
        
        return {
            renderCalendar: renderCalendar
        };
    }();
    
    var events = [];
    '{% for e in events %}'
        var event = {};
        event.id = '{{e.id}}';
        event.startTime = '{{e.startTime}}';
        event.endTime = '{{e.endTime}}';
        event.title = '{{e.title}}';
        event.description = '{{e.description}}';
        event.address = '{{e.address}}';
        event.type = '{{e.type.name}}';
        events.push(event);
    '{% endfor %}'
    
    calendar.renderCalendar(events);
</script>

{% endblock %}
