<div class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('show_source') }}">REVOLT Calendar</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('show_dashboard') }}">Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('show_about') }}"><span class="glyphicon glyphicon-king"></span> About</a></li>
      </ul>
    </div>
  </nav>
</div>
